// colors-----------------------------------

$mainColor: #dd2f6e;
$darkColor: #1d2231;
$greyColor: #8390a2;
$whiteColor: #fff;
$color: #f1f5f9;
$orange: orange;
$purple: blueviolet;

// interpolation

$b: "background";
$c: "color";
$f: "font";

// fontsize---------------------------

$font-lg: 2.5rem;
$font-md: 1.4rem;
$font-sm: 1.1rem;
